@model VideoLesson
@{
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
    var count = 1;
}

<main>
    <section class="videos-detail videos-detail-back">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="video-detail-title">

                    @if (culture == "az")
                    {
                        <p class="video-detail-name">@Model.AzName</p>
                        <p class="video-detail-description">
                            Video kitabxanamızdakı videolara baxın
                        </p>
                    }
                    else if (culture == "en")
                    {
                        <p class="video-detail-name">@Model.EnName</p>
                        <p class="video-detail-description">
                            Watch the videos in our video library
                        </p>
                    }
                    else if (culture == "ru")
                    {
                        <p class="video-detail-name">@Model.RuName</p>
                        <p class="video-detail-description">
                            Смотрите видео в нашей видеотеке
                        </p>
                    }
                </div>
            </div>
            <div class="row mb-5 pb-4 mt-5">
                <div class="col-lg-9 col-md-12 col-sm-12">
                    <iframe class="youtube-video"
                            height="500"
                            src="@(Model.Videos.FirstOrDefault()?.Link)"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <!-- <h1 class="author-video text-secondary">Müəllim: Orxan Məmmədov</h1> -->
                </div>

                <div class="related-video col-lg-3 col-md-12 col-sm-12">
                    <!-- <ul>
                      <li style="cursor:pointer;" onclick="getSrc(this)"  id="1" data-video="https://www.youtube.com/embed/vDw3BWbNwlc">1-ci video</li>
                      <li style="cursor:pointer;" onclick="getSrc(this)" id="2" data-video="https://www.youtube.com/embed/-PTDyMG1K3Q">2-ci video</li>
                      <li style="cursor:pointer;" onclick="getSrc(this)" id="3" data-video="https://www.youtube.com/embed/-PTDyMG1K3Q">3-cu video</li>
                    </ul> -->
                    <div class="list-group"
                         style="
                overflow-y: scroll;
                cursor: pointer;
                height: 320px;
              ">
                        @foreach (Video item in Model.Videos)
                        {
                            <button onclick="getSrc(this)"
                                    id="@item.Id"
                                    data-video="@item.Link"
                                    type="button"
                                    class="list-group-item list-group-item-action">
                                DƏRS-@count
                            </button>
                            count++;
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section Css{
    <link rel="stylesheet"asp-append-version="true"  href="~/src/css/secondary.css" />
    <style>
        .youtube-video {
            width: 100% !important;
        }

        .list-group {
            width: 100% !important;
        }

        @@media (max-width: 820px) {
            .youtube-video {
                height: 300px;
            }

            .author-video {
                font-size: 25px;
            }

            .related-video {
                margin-top: 20px;
            }

            .head-img {
                width: 199px !important;
                height: 145px !important;
            }

            .head-img-trainer {
                width: 235px !important;
                height: 196px !important;
                margin-top: 0 !important;
            }
        }
    </style>
}
@section Scripts{
    <script>
        function getSrc(srcA) {
            var srcVideo = srcA.getAttribute("data-video");
            document.getElementsByClassName("youtube-video")[0].src = srcVideo;
        }
    </script>
}
