@model List<News>
@{
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}
<!-- ********************************************************************** -->
<!-- **************************   News start     ************************ -->
<section class="news">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="news-title">

                @if (culture == "az")
                {
                    <p>Xəbərlər</p>
                }
                else if (culture == "en")
                {
                    <p>News</p>
                }
                else if (culture == "ru")
                {
                    <p>Новости</p>
                }
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            @foreach (News item in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card" style="width: 100%">
                        <div class="news-img">
                            <img src="~/src/img/news/@item.Image"
                                 class="card-img-top"
                                 alt="news1" />
                        </div>
                        <div class="card-body">
                            @if (culture == "az")
                            {
                                <h5 class="card-title">
                                    @item.AzTitle
                                </h5>
                                <p class="card-text">
                                    @item.AzSubTitle
                                </p>
                                <a asp-controller="News" asp-action="Detail" asp-route-id="@item.Id" class="news-button">
                                    ARDINI OXU  <span> <i class="fas fa-angle-right"></i></span>
                                </a>
                            }
                            else if (culture == "en")
                            {
                                <h5 class="card-title">
                                    @item.EnTitle
                                </h5>
                                <p class="card-text">
                                    @item.EnSubTitle
                                </p>
                                <a asp-controller="News" asp-action="Detail" asp-route-id="@item.Id" class="news-button">
                                    READ MORE <span> <i class="fas fa-angle-right"></i></span>
                                </a>
                            }
                            else if (culture == "ru")
                            {
                                <h5 class="card-title">
                                    @item.RuTitle
                                </h5>
                                <p class="card-text">
                                    @item.RuSubTitle
                                </p>
                                <a asp-controller="News" asp-action="Detail" asp-route-id="@item.Id" class="news-button">
                                    ЧИТАТЬ ДАЛЕЕ <span> <i class="fas fa-angle-right"></i></span>
                                </a>
                            }


                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!-- *********************  News end    ************************ -->

@section Css{
    <link rel="stylesheet"asp-append-version="true"  href="~/src/css/secondary.css" />
}